# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
logging.ini
pytest.ini
test_data.ini
reports/*

# log
*.log
*.log.*

# Environments
*venv*
environment*

__pycache__
__pycache__/

test.py
*vscode*

*auto.yaml
*autodata.*
*autodefault.*

# *.pyc
*.pyc

nohup.out*

test-results/
test-results.*

tests
tests/

*appauto.egg-info

allure-results