# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
logging.ini
pytest.ini
test_data.ini
reports/*
.DS_Store

# log
*.log
*.log.*

# Environments
*venv*
environment*

__pycache__
__pycache__/

test.py
*vscode*

*auto.yaml
*autodata.*
*autodefault.*

# *.pyc
*.pyc

nohup.out*

test-results/
test-results.*

*appauto.egg-info

allure-results

test_notify*

sample*.jsonl
problem*.jsonl

ft-docker-compose*.yaml

*.xlsx

dist/*